body {
	background-color: #eee;
}

main {
	padding: 20px;
}

.stickyHeader {
	/*
	position: -webkit-sticky;
	position: sticky;
	top: 20px;
	*/
	text-align: center;
	display: block;
}

footer {
	/*
	background-color: blanchedalmond;
	z-index: 999;
	position: -webkit-sticky;
	position: sticky;
	bottom: 0;
	*/
}
.container {
	font-family: 'Stick',sans-serif;

	font-family: 'Stick',sans-serif;
}

img.xzoom-gallery {
	margin: 8px;
	padding: 3px;
	background-color: #FFFFFF;
	/*box-shadow: 0 3px 18px -4px rgba(0, 0, 0, 0.8);*/
	width: 100px;
	height: 100px;
	object-fit: cover;
}

#imageList a {
	display: inline-block;
}

#imageList img.grayImage{
	background-color: #888;
}

.xzoom{
	height: 300px;
}

#zoomBox{
	width: 250px;
	height: 250px;
}


div#previewBox {	
    position:relative;
    border:1px solid #ccc;
    display:inline-block;
    line-height: 0;
}

.fullScreenMode {
    position:absolute;
    bottom:5px;
    right:5px;
	cursor: pointer;
}

div#previewBox img {
	vertical-align: middle;
}

#imageCaption{
	display:inline-block;
	height: 20px;
}
