body {
	background-color: #eee;
}

main {
	padding: 20px;
}

.container {
	font-family: 'Stick',sans-serif;
}

h1.titleHeader {
	text-align: center;
	display: block;
}


img.xzoom-gallery {
	margin: 8px;
	padding: 3px;
	background-color: #FFFFFF;
	/*box-shadow: 0 3px 18px -4px rgba(0, 0, 0, 0.8);*/
	width: 150px;
	height: 150px;
	object-fit: cover;
}

div.singleImageContainer
{
	display: inline-block;
}

div.innerCaption {
	
}

#imageList a {
	display: inline-block;
}

#imageList img.grayImage{
	background-color: #888;
}

.xzoom{

	height: 500px;
}

div#previewBox {
	position: relative;
	border: 1px solid #ccc;
	display: inline-block;
	line-height: 0;

	box-shadow: 0 5px 18px -4px rgb(10 10 10 / 80%);
}

#zoomBox{
	width: 280px;
	height: 280px;
	border:1px solid black;
	
	position:fixed;
	top:180px;
	left:50px;

	background-color: gray;
	opacity: 0.5;
}

#xzoomMainContainer {
	background-color: #eee;
	position: sticky; 
	top: 30px;
}

.invalidWindowSize{
	border-bottom:1px dashed gray;
}

#optionMenu button {
	display: inline-block;
	height: 30px;
	cursor: pointer;
}
#fullScreenMode, #zoomOnOff, #zoomBoxOnOff {

	/*
	position:absolute;
    bottom:5px;
    left:5px;
	cursor: pointer;*/
}

#topMenu{
	position: fixed;
	top:0px;
	padding: 2px;
}


div#previewBox img {
	vertical-align: middle;
}

#imageCaptionA, #imageCaptionB{
	display: inline-block;
	height: 20px;
}

.unselectable
{
	-webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}



/* Fancy Box */
.fancybox-caption{
	border: none;
}

.fancybox-caption-wrap
{
	text-align: center;
}
.fancybox-slide.watermark .fancybox-spaceball {
	background-image: url('https://fancyapps.com/GJbkSPU.png');
	background-size: cover;
	background-repeat: no-repeat;
  }
  